@tailwind base;
@tailwind components;
@tailwind utilities;

/* 반응형 */
@media (min-width: 640px) {
    .policies-container {
        padding: 2rem;
    }

    .section {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .figure-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .figure-item {
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    .figure-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}
