.tag-layout{
    border:1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    min-width: 5rem;
    padding: 0.5rem 0.5rem;
    display: inline-block;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #7b809a;
}